.form-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.long-url-container {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding-top: 1em;
}

.short-url-container {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

a {
  color: #007bff;
}

.input-field {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: azure;
  border: 1px solid black;
  font: 1em Verdana, sans-serif;
}

.submit-button {
  background-color: #102C57;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.submit-button:hover {
  background-color: #0056b3;
}

label {
  font: 1.2em Verdana, sans-serif;
}

.clipboard-img {
  width: 1em;
  margin-left: 10px;
  cursor: pointer;
}

.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 100px;
  font-size: 17px;
}

.snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 100px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 100px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

h1 {
  text-align: left;
}