.form-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.long-url-container {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  padding-top: 1em;
}

.short-url-container {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

a {
  color: #007bff;
}

.input-field {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: azure;
  border: 1px solid black;
  font: 1em Verdana, sans-serif;
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.submit-button:hover {
  background-color: #0056b3;
}

label {
  font: 1.2em Verdana, sans-serif;
}

.clipboard-img {
  width: 1em;
  margin-left: 10px;
  cursor: pointer;
}