.settings-container {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.custom-select {
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #fff;
    width: 200px;
  }

  .custom-select:hover {
    border-color: #aaa;
  }

  .custom-select:focus {
    border-color: #007bff;
  }